---
import Facts from "../components/facts.astro";
import Citat from "../components/Citat.astro";
---


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<link rel="style" href="https://fonts.google.com/specimen/Carrois+Gothic+SC">
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<section class="header">
				<h1>En visuel fortælling om Pierre Falcke</h1>
			</section>
			<section>
				<h2>Kender du Pierre?</h2>
				<!-- <img src="../assets/images/polorid1.webp"> -->
				<div class="tekst1">
					<p>Pierre Falcke. Du ved formentligt ikke hvem han er. Men indtil for kort tid siden, så du hans værker et par gange om dagen, hver dag, året rundt. Pierre Falcke var en af verdens bedst sælgende stock-fotografer, og han solgte over 2 millioner fotos om året. Men Pierre kunne ikke drømme om at bruge sine egne fotos - faktisk kan han ikke fordrage sit eget arbejde.</p>
				</div>
				
					<div class="polorid1">
						<img src="img/polorid1.webp">
					</div>
			
				
			</section>
		
				<Facts/>
		
			<h2>Pierres berømmelse</h2>
			<div class="berømmelsestekst">
				<div class="b1">
					<p>Pierres interesse for foto startede som ganske ung - som 10-årig fik han sin fars gamle Rollei-kamera, og begyndte at skyde løs. </p>
				</div>
				<div class="b2">
					<p>Det var før den digitale revolution, så alle Pierres lommepenge blev brugt på filmruller og fremkaldelse af film. Pierre fortsatte med at fotografere på film op gennem gymnasietiden.</p>
				</div>
			</div>
			<div class="stock">
				<img src="img/polorid3.webp">
			</div>
	
			<p class="stock_foto_tekst">De første online stock-foto websites begyndte at komme på markedet, men de store, etablerede spillere på markedet holdt lidt igen. Pierre så det for sig</p>
			
			<div>
				<img class="citat1" src="/img/citat.webp" alt="">
			  </div>
			  <div>
				<h3 class="citat_tekst">Om ganske få år er hele branchen digital og dem der ikke hopper med på den digitale vogn, lukker.</h3>
			  </div>
			  <div>
				<img  class="citat2"src="/img/citat.webp" alt="">
			  </div>
		
	
			<h2>En skillevej</h2>
			<p class="skillevej1">Pierre tjente godt det følgende årti. Men stille og roligt begyndte billederne også at give ham kvalme. Han kunne ikke holde sit eget arbejde ud, og måtte finde et modsvar til alle de blankpolerede fotos. Noget han kunne lave med stolthed. Pierre bestluttede sig for at droppe stock-fotos, og vende tilbage til rødderne.</p>
			<p class="skillevej2">Han søgte inspiration i analog fotografering, i Lomo-bevægelsen, Glitch art og polaroid fotografering, og begyndte stille og roligt at skabe sig en ny stil - en stil med fokus på det uperfekte, og hvor der er et uforudsigeligt element i det at tage billeder.</p>
			<p class="skillevej3">Pierre tog det endda så vidt at han ikke kun droppede at tage stock-fotos. Han fjernede også alle stock-fotos fra de tjenester, han solgte sine fotos hos. Han gik fra at være en god forretningsdrivende til at blive en vaskeægte boheme-type på rekordtid.</p>
			<div class="grid2">
				<div class="polorid4">
					<img src="img/polorid4.webp">
				</div>
				<div class="polorid5">
					<img src="img/polorid5.webp">
				</div>
			</div>
			<h2>En ny begyndelse</h2>
			<p class="ny_begyndelse1">Men Pierre er glad for sin beslutning. Indkomsten er lavere nu, men han har stadig lidt penge på kontoen, og studerer nu kunstfotografering på fotoskolen Fatamorgana. </p>
			<p class="ny_begyndelse2">Han glæder sig over hver dags kunstneriske eksperimenter, og er for første gang i sit liv rigtig stolt af sit arbejde.</p>
	

			<div>
				<img class="citat1" src="/img/citat.webp" alt="">
			  </div>
			  <div>
				<h3 class="citat_tekst">Det interessante ligger i fejlen. Et godt foto med masser af fejl er interessant. Jeg eksperimenterer med udstyr og teknik, og skaber nye visuelle udtryk. Det uperfekte er perfekt.</h3>
			  </div>
			  <div>
				<img  class="citat2"src="/img/citat.webp" alt="">
			  </div>
	
		</section>
		</main>
	</body>
</html>

<style>




	body{
		background-color: black;
		background-image: url('../assets/images/background.webp');
		width: 100%;
  overflow-x: hidden;


	}

.header{
	background-image: url('../assets/images/header.webp');
	background-repeat: no-repeat;
	height: var(--size-14);
	background-repeat: no-repeat;
	height: var(--size-14);
	width: 100%;

	padding: var(--size-11);
	background-size: cover;
	background-size: cover;
}

h1{
	font-size: var(--size-8);
	margin-left: 10%;
	background-color: black;
	max-width: 1100px;
	padding-top: 2%;
	padding-bottom: 2%;
	
	}
	h1,h2,h3{
		text-transform: uppercase;
		color: white;
		font-family:'Courier New', Courier, monospace
	}

	h2{
		text-align: center;
		padding: 90px;
		font-size: var(--size-8);
	}
	p{
		color: white;
		font-family:'Courier New', Courier, monospace;
	}
.grid1{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}
	.tekst1{
	
		font-size: var(--size-5);
		text-align: left;
	max-width: 800px;
	margin-left: 10%;
	margin-top: 5%;
	margin-bottom: 15%;
	margin-inline: auto;
	}

	.polorid1{
	margin: 0;
	padding-left: 21%;
	margin-bottom: 15%;
	}

	.factstekst{
		font-family:'Courier New', Courier, monospace;
		font-size: var(--size-5);
	}

	.facts1{
		margin-left: 3px;
		padding: 90px;
	}
	.facts2{
		margin-left: 700px;
	}
.berømmelsestekst{
	font-size: var(--size-5);
}

.b1{
	text-align: left;
	max-width: 800px;
	margin-left: 10%;
	margin-top: 5%;
}
.b2{
	text-align: left;
	max-width: 800px;
	margin-left: 40%;
	margin-top: 5%;
	
}

.stock_foto_tekst{
	font-size: var(--size-5);
	text-align: center;
	max-width: 800px;
	margin-inline: auto;
	margin-top: 20%;
}
	.stock{
		display: grid;
  place-items: center;
  height: 100vh;
  margin-top: 10%;

	}

	.citat{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-inline: auto;
}

	.polorid4{
		margin-left: 80px;
		margin-top: 180px;
	}
	.polorid5{
		margin-right: 80px;
		margin-top: 380px;
	}

	.skillevej1{
		font-size: var(--size-5);
	text-align: left;
	max-width: 800px;
	margin-left: 10%;
	margin-top: 5%;
	}

	.skillevej2{
		font-size: var(--size-5);
	text-align:left;
	max-width: 800px;
	margin-left: 40%;
	margin-top: 5%;
	}

	.skillevej3{
		font-size: var(--size-5);
	text-align: left;
	max-width: 800px;
	margin-left: 10%;
	margin-top: 5%;
	}

	.ny_begyndelse1{
		font-size: var(--size-5);
	text-align: left;
	max-width: 800px;
	margin-left: 10%;
	margin-top: 5%;
	}
	.ny_begyndelse2{
		font-size: var(--size-5);
	text-align:left;
	max-width: 800px;
	margin-left: 40%;
	margin-top: 5%;
	}

.citat1{
	margin-left: 10%;
	margin-top: 10%;
}
.citat_tekst{
	text-align: center;
	font-size: var(--size-6);
	max-width: 800px;
	margin-inline: auto;
}

.citat2{
	margin-left: 70%;
	margin-top: 0%;
}

</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);



</script>