---
const {  } = Astro.props;
---

<section>
  <div>
  <img src="/img/citat.webp" alt="">
</div>
<div>
  <h3><slot /></h3>
</div>
<div>
  <img src="/img/citat.webp" alt="">
</div>
  
</section>

<style>
section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
</style>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
  //GSAP KODE HER ---DER MINDSKER ANIMATIONER FOR KØRESYGE-SÆT DEN ALTID IND
})
</script>
