
<section>
<img class="billede1" src="/img/polorid2.webp">

<h3 class="tekst_et">Pierre sælger 2 millioner fotos om året</h3>
<img class="billede2"src="/img/polorid2.webp">

<h3 class="tekst_to">Du ser hans fotos ca. 2 gange om dagen</h3>
<img class="billede3" src="/img/polorid2.webp">
</section>
<style>
section{
    
}

.billede1, .billede3{
    {animation:slide-in-left 5s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both}
}

@keyframes slide-in-left{0%{transform:translateX(-1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
   
.billede2{
    {animation:slide-in-right 5s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both}
}

@keyframes slide-in-right{0%{transform:translateX(1000px);opacity:0}100%{transform:translateX(0);opacity:1}}
.billede1, .billede2, .billede3{
        padding-top: 5%;
        padding-bottom: 5%;

       
    }
    .billede2{
        margin-left: 35%;
        transform: scaleX(-1)
    }

    h3{
		text-transform: uppercase;
		color: white;
		font-family:'Courier New', Courier, monospace;
        font-size: 2rem;
	}

    .tekst_et{
        text-align: left;
        padding-left: 5%;
    }

    .tekst_to{
        text-align: right;
        padding-right: 5%;
    }
</style>

<script>
	import { gsap } from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	gsap.registerPlugin(ScrollTrigger);

    gsap.from(".tekst_et", {
      yPercent: 100,
      opacity: 0,
      duration: 1,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".tekst_et",
        // start: "start 20%",
        // end: "bottom 20%",
        scrub: true,

     
      },
    });
    gsap.from(".tekst_to", {
      yPercent: 100,
      opacity: 0,
      duration: 1,
      stagger: 0.2,
      scrollTrigger: {
        trigger: ".tekst_to",
        // start: "start 20%",
        // end: "bottom 20%",
        scrub: true,

  
      },
    });

  gsap.to(".galleri", {
    scrollTrigger: {
      trigger: ".galleri",
      start: "center center",
      toggleClass: "jello-vertical",
    },
  });
</script>